html, body{
    height: 100vh;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
#wrapper{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}
#map{
    flex: 2 1 auto;
}
#panel{
    flex: none;
    background-color: gainsboro;
}
#info{
    width: 90%;
    text-align: center;
}
#stadium{
    font-family: 'Rancho';
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
#left{
    width: 85%;
    font-weight: bold;
    font-family: 'Rancho';
    font-size: 20px;
}
#graph{
    width: 300px;
    height: 200px;
    align-content: center;
    padding-left: 50px;
}
#newPic{
    width: 500px;
    height: 200px;
}
.button{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: slategray;
    color: white;
}
#team, #year, #attendance, #time, #hr, #ticket, p{
    font-family: 'Gudea';
    font-size: 15px;
}
p.description{
    font-family: 'Gudea';
    font-size: 18px;
}
p.begin{
    font-family: 'Gudea';
    font-size: 15px;
}
p.note{
    font-family: 'Gudea';
    font-size: 10px;
}
h1{
    font-family: 'Rancho';
    font-size: 40px;
}
h3{
    font-family: 'Rancho';
    font-size: 20px;
}
.tooltip{
    position: absolute;
    height: 35px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px;
    font-family: 'Gudea';
}
.title{
    font-family: 'Rancho';
}
.stadiumPic{
    padding-left: 25px;
}
#welcomePanel {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-65%);
	width: 40%;
}
.info {
	padding: 2vh 2vw;
	font: 16px, sans-Serif;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 15px rgba(37,37,37,0.4);
	border-radius: 5px;
	text-align: center;
}
.leaflet-popup-content p{
    margin: 0.2px 0;
}
.help .leaflet-popup-content-wrapper{
    background: gainsboro;
    height: 350px;
    width: 350px;
}
.leaflet-popup-tip-container{
    display: none;
}
.mySlides {
    display: none;
}
/* .slideshow-container{
    max-width: 300px;
    position: relative;
    margin: auto;
} */
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
img{
    vertical-align: middle;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
@media only screen and (max-width: 300px){
    .prev, .next, .text{font-size: 11px}
}
@media screen and (max-width: 768px){
    #wrapper{
        flex-direction: column;
    }
    #map{
        flex: 2 1 auto;
        order: 1;
        margin: 0;
        min-height: 50vh;
    }
    #panel{
        order: 2;
        max-width: 100%;
        overflow: auto;
    }
}